fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
openai
httpx
streamlit
beautifulsoup4
lxml
html5lib
requests
pydantic_settings
psycopg2-binary
sentence_transformers
python-multipart
chromadb
redis
celery